<header class="container-fluid px-0 fw-nav-wrapper fixed-top">
    <section class="bg-light container-fluid">
      <div class="container">
        {% element 'link' %}
         {
           "url": "#fw-main-content",
           "class": "visually-hidden visually-hidden-focusable p-8 my-12 btn btn-outline-primary",
           "content": "{{ 'portal_translations.header.skip_content' | t }}"
         }
        {% endelement %}
      </div>
    </section>
  
    {% if  portal.current_page != "csat_survey" %}
      <section class="container">
        <nav class="navbar navbar-expand-xl navbar-light px-0 py-8 pt-xl-4 pb-xl-0">
          {% comment %}
          {% element 'header/logo' %}
           {
            "linkback_url": "{{ portal.linkback_url }}",
            "logo_url": "{{ portal.logo_url }}",
            "name": "{{ portal.name | escape_once }}"
           }
          {% endelement %}
          {% endcomment %}
          <a href="{{ portal.logo_url }}">
              <img src="https://svgshare.com/i/uAG.svg" class="alt-logo">
          </a>
          {% element 'hamburger' %}{}{% endelement %}
  
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto mt-64 mt-xl-0">
              {% for tab in portal.tabs %}
                <li class="nav-item {% if tab.tab_type == portal.current_tab %}active{% endif %}">
                  <a href="{{ tab.url }}" class="nav-link">
                    <span class="d-md-none icon-{{tab.tab_type}}"></span> {{tab.label}}
                  </a>
                </li>
              {% endfor %}
              <li class="nav-item no-hover {{ portal.current_page }}">
               {{ portal | header_new_ticket_button }}
              </li>
            </ul>
            <ul class="navbar-nav flex-row align-items-center ps-8 fw-nav-dropdown-wrapper">